/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
svg {
    color: rgb(255, 255, 255);
    height: 330px;
    width: 100px;
    margin-left: 60px;
    
}
.counter-display {
    display: flex;    
    margin: auto;
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
    height: 300px;
    width: 650px;
    border-radius: 30px;

}

.analog-counter {
    background-color: rgb(0, 0, 0);
    font-size: 200px;
    display: flex;
    border-radius: 30px;

}
    